<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  internalLogLevel="Debug"
      internalLogFile="c:\temp\edc\logs\nlog-internal-popover.txt"
      internalLogToConsole="true"
	  autoReload="true"
      throwConfigExceptions="true">

	<targets>
		<target name="console" xsi:type="Console" layout="${longdate} level=${level} message=${message}" />
		<target name="allfile"
		        xsi:type="File"
		        createDirs="true"
		        fileName="c:\temp\edc\logs\edc-popover-dotnet-${shortdate}.log"
		        layout="${longdate} ${uppercase:${level}} ${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="console" />
		<logger name="*" minlevel="Debug" writeTo="allfile" />
	</rules>
</nlog>